<h1>Orders</h1>

<table border="medium">
  <tr>
    <th>Employee ID</th>
    <th>Customer ID</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
        <td><%= order.employee_id %></td>
        <td><%= order.customer_id %></td>
        <td>
          <a href="/orders/<%= order.id %>">
            <button>
              View
            </button>
          </a>
          <a href="/orders/<%= order.id %>/edit">
            <button>
              Edit
            </button>
          </a>
        </td>
    </tr>
  <% end %>

</table>
<div>
  <a href="/orders/new">
    <button>
      Add
    </button>
  </a>
</div>