<title>Staff</title>
<h2>Staff</h2>
<table class="table1", border="10">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
  </tr>
    <% @staff.each do |staff| %>
    <tr>
      <td><%= staff.firstName %></td>
      <td><%= staff.lastName %></td>
      <td><%= staff.phoneNumber %></td>
    </tr>
    <% end %>
</table>

